<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 爬虫管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{{url_for('crawler_add')}}" title="爬虫添加">爬虫添加</a></li>
					<li><a href="{{url_for('crawler_list')}}" title="爬虫列表">爬虫列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-category">
			<dt><i class="Hui-iconfont">&#xe616;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{{url_for('category_add')}}" title="添加分类">添加分类</a></li>
					<li><a href="{{url_for('category_list')}}" title="分类列表">分类列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-attribute">
			<dt><i class="Hui-iconfont">&#xe616;</i> 属性管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{{url_for('attribute_add')}}" title="添加属性">添加属性</a></li>
					<li><a href="{{url_for('attribute_list')}}" title="属性列表">属性列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe616;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{{url_for('product_add')}}" title="添加商品">添加商品</a></li>
					<li><a href="{{url_for('product_list')}}" title="商品列表">商品列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comment">
			<dt><i class="Hui-iconfont">&#xe616;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{{url_for('comment_list')}}" title="评论列表">评论列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>